<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th> 
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>

    <!-- name: string, type: string, launchDate: string, orbitType: string, operational: boolean -->
    <tr *ngFor="let newRow of satellites">
      <td>{{newRow.name}}</td>
      <td [class.warning]="newRow.shouldShowWarning()">{{newRow.type}}</td>
      <td>{{newRow.operational}}</td>
      <td>{{newRow.orbitType}}</td>
      <td>{{newRow.launchDate}}</td>
    </tr>

</table>